@charset "utf-8";
/* @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@신상@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ */

@media all and (max-width: 1750px) {
  [data-layout="bottom-center"] .thbit-trade-container {
    grid-template-columns: 280px 1fr 280px 250px;
    grid-template-areas:
      "orderbook header header header"
      "orderbook chart coinlist orderlist"
      "orderbook orderform orderasset orderlist"
      "tradelist tradelist tradelist tradelist";
  }

  [data-layout="bottom-side"] .thbit-trade-container {
    grid-template-columns: 280px 1fr 280px 250px;
    grid-template-areas:
      "coinlist header header header"
      "coinlist chart orderbook orderlist"
      "tradelist tradelist orderform orderform"
      "tradelist tradelist orderasset orderasset";
  }

  [data-layout="side-right"] .thbit-trade-container {
    grid-template-columns: 320px 1fr 1fr 360px;
    grid-template-rows: 50px 400px 100px 370px auto;
    grid-template-areas:
      "header orderbook header"
      "chart chart orderbook orderform"
      "coinlist orderlist orderbook orderform"
      "coinlist orderlist orderbook orderasset"
      "tradelist tradelist tradelist tradelist";
  }

  [data-layout="side-right"] .thbit-trade-chart {
    height: 400px;
  }

  [data-layout="side-left"] .thbit-trade-container {
    grid-template-columns: 360px 1fr 1fr 320px;
    grid-template-rows: 50px 400px 80px 250px auto;
    grid-template-areas:
      "orderform header header header"
      "orderform chart chart orderbook"
      "orderform coinlist orderlist orderbook"
      "orderasset coinlist orderlist orderbook"
      "tradelist tradelist tradelist tradelist";
  }

  [data-layout="side-left"] .thbit-trade-chart {
    height: 400px;
  }

  @media all and (max-height: 660px) {
    [data-layout="bottom-center"] .thbit-trade-container {
      grid-template-rows: 50px 300px 450px auto;
    }
    [data-layout="bottom-center"] .thbit-trade-chart {
      height: 300px;
    }

    [data-layout="bottom-side"] .thbit-trade-container {
      grid-template-rows: 50px 300px auto;
    }
    [data-layout="bottom-side"] .thbit-trade-chart {
      height: 300px;
    }
  }
} /* @media end */

@media all and (max-width: 1280px) {
  /* 레이아웃 통일 */

  .thbit-menu > nav.snb > ul > li.add {
    display: none;
  }

  [data-layout] .thbit-trade-container {
    grid-template-columns: 1fr 260px 1fr 350px;
    grid-template-rows: 450px 50px 360px auto; /*  calc(100vh - header - tradeheader - orderform - gap)  */
    grid-template-areas:
      "chart chart chart orderform"
      "coinlist orderbook orderlist orderform"
      "coinlist orderbook orderlist orderasset"
      "tradelist tradelist tradelist tradelist";
  }

  [data-layout] .thbit-trade-chart {
    height: 450px;
  }

  [data-layout] .thbit-trade-asset {
    display: block;
  }

  .thbit-order-tab {
    display: flex;
  }

  [data-layout] .thbit-order-form .order-form {
    display: none;
  }
  [data-layout] .thbit-order-form .order-form.on {
    display: block;
  }

  .thbit-trade-price-list.coin-list .list-wrap .list .col.pair .name {
    display: none;
  }
  .thbit-trade-price-list.coin-list .list-wrap .list .col.pair > em {
    font-size: 0.9em;
    opacity: 1;
  }

  @media all and (max-height: 660px) {
    [data-layout] .thbit-trade-container {
      grid-template-rows: 50px 300px 100px 250px auto;
    }

    [data-layout] .thbit-trade-chart {
      height: 300px;
    }
  }
} /* @media end */

@media all and (max-width: 1150px) {
  [data-layout] .thbit-trade-container {
    grid-template-columns: 1fr 1fr 350px;
    grid-template-rows: 510px 50px 375px auto;
    grid-template-areas:
      "chart coinlist orderform"
      "orderbook orderlist orderform"
      "orderbook orderlist orderasset"
      "tradelist tradelist tradelist";
  }

  [data-layout] .thbit-trade-chart {
    height: calc(100vh - 50px - 600px - 177px);
  }

  .thbit-trade-container .container.coinlist {
    display: block;
    grid-area: coinlist;
    /* position: absolute;
    z-index: 999999;
    background-color: #f1f2f8;
    width: 100%;
    max-width: 360px;
    top: 100%;
    height: calc(100vh - 100px); */
  }
  .coin-list-open .container.coinlist {
    display: block;
  }

  .thbit-trade-container .container.coinlist .list-search {
    background-color: #f1f2f8;
  }

  .thbit-trade-header .coin-list-trigger {
    display: inline-block;
    transition: 0.5s;
  }
  .coin-list-open .coin-list-trigger {
    transform: scaleY(-1);
  }

  .thbit-trade-price-list.coin-list .list-wrap .list .col.pair .name {
    display: inline-block;
  }
  .thbit-trade-price-list.coin-list .list-wrap .list .col.pair > em {
    font-size: 0.8em;
    opacity: 0.5;
  }

  @media all and (max-height: 660px) {
    [data-layout] .thbit-trade-container {
      grid-template-rows: 50px 300px 100px 250px auto;
    }
    [data-layout] .thbit-trade-chart {
      height: 300px;
    }
  }
} /* @media end */

@media all and (max-width: 950px) {
  .thbit-trade-container .container.mobiletab {
    /* display: block; */
    /* 차트버튼넣기전 */
    display: flex;
    justify-content: space-between;
    grid-area: mobiletab;
  }

  [data-layout] .thbit-trade-container {
    grid-template-columns: 1fr 250px 250px;
    grid-template-rows: auto 50px 460px 500px auto;
    grid-template-areas:
      "header header header"
      "mobiletab orderbook orderform"
      "chart  orderbook orderform"
      "tradelist tradelist tradelist";
  }

  [data-layout] .thbit-trade-chart {
    height: 460px;
  }

  .thbit-trade-container .container.orderbook {
    /* grid-area: chart; */
    /* display: none; */
  }
  .thbit-trade-container .container.orderlist {
    grid-area: chart;
    display: none;
  }
  .thbit-trade-container .container.orderasset {
    grid-area: chart;
    display: none;
  }

  .thbit-trade-container .container.on {
    display: block;
    z-index: 9l;
  }

  .thbit-trade-header .item-wrapper {
    height: auto;
    padding: 15px 15px;
    flex-wrap: wrap;
  }
  .thbit-trade-header .item-wrapper .item {
    flex-grow: 0;
  }

  .thbit-trade-container .container.coinlist {
    display: none;
    grid-area: header;
    position: absolute;
    z-index: 999999;
    background-color: #f1f2f8;
    width: 100%;
    max-width: 400px;
    top: 100%;
    height: calc(100vh - 100px);
  }
  .coin-list-open .container.coinlist {
    display: block;
  }

  .thbit-trade-container .container.coinlist .list-search {
    background-color: #f1f2f8;
  }

  .thbit-trade-header .coin-list-trigger {
    display: inline-block;
    transition: 0.5s;
  }
  .coin-list-open .coin-list-trigger {
    transform: scaleY(-1);
  }

  .thbit-trade-price-list.coin-list .list-wrap .list .col.pair .name {
    display: inline-block;
  }
  .thbit-trade-price-list.coin-list .list-wrap .list .col.pair > em {
    font-size: 0.8em;
    opacity: 0.5;
  }

  .thbit-trade-list .thbit-index-tab .tab {
    flex-grow: 1;
  }
  .thbit-trade-list .thbit-trade-inlineform {
    position: relative;
    right: auto;
    top: auto;
    margin-top: 10px;
    margin-bottom: 15px;
    text-align: right;
    display: flex;
  }

  @media all and (max-height: 660px) {
    [data-layout] .thbit-trade-container {
      grid-template-rows: 50px 300px 352px auto;
    }
    [data-layout] .thbit-trade-chart {
      height: 300px;
    }
  }
} /* @media end */

@media all and (max-width: 800px) {
  [data-layout] .thbit-trade-container {
    grid-template-columns: 48% 1fr;
    grid-template-rows: auto 40px 255px 360px auto;

    grid-template-areas:
      "header header"
      "mobiletab mobiletab"
      "chart chart"
      "orderbook orderform"
      "tradelist tradelist";
  }

  [data-layout] .chart_hide {
    grid-template-columns: 48% 1fr;
    grid-template-rows: auto 40px 360px auto;
    grid-template-areas:
      "header header"
      "mobiletab mobiletab"
      "orderbook orderform"
      "tradelist tradelist";
  }

  .none {
    display: none !important;
  }

  [data-layout] .thbit-trade-chart {
    height: 250px;
  }

  .thbit-trade-form .form-row > .btn {
    /* right: 19px; */
    border-left: 0;
  }

  .inb {
    font-size: 12px;
    margin-right: -5px;
  }

  .thbit-trade-price-list .list-wrap .list .col.price {
    width: 50%;
    padding-left: 12px;
  }
  .thbit-trade-price-list .list-wrap .list .col.amount {
    width: 50%;
    text-align: right !important;
    padding-right: 13px;
  }
  .thbit-trade-price-list .list-sum {
    padding: 8px 1px 8px 11px;
  }
  .thbit-trade-price-list {
    height: calc(100% - 7px);
  }
  .thbit-trade-price-list .list-sum .contract {
    font-size: 12px;
  }
  .thbit-trade-form .form-button .button {
    font-size: 12px;
  }
  .round-line-border {
    font-size: 12px;
  }
  .thbit-trade-form .form-row {
    padding: 0 5px;
  }
  .eq-color,
  .buy-color,
  .sell-color {
    font-size: 10px;
  }
  .warnning-color {
    font-size: 14px;
  }
  .thbit-trade-tab {
    height: 40px;
    overflow: auto;
    position: relative;
    padding: 0 5px;
    /* 차트버튼 넣기전 */
    margin: 0 !important;
  }
  .thbit-trade-tab .tab {
    flex-shrink: 1;
  }
  .thbit-index-tab {
    height: 40px;
    /* overflow: scroll hidden; */
  }
  .thbit-index-tab .tab {
    flex-shrink: 1;
    height: 40px;
    line-height: 40px;
    padding: 0;
    font-size: 1em;
  }

  .thbit-trade-header .item-wrapper {
    height: auto;
    padding: 5px 15px;
    flex-wrap: wrap;
  }
  .thbit-trade-header .item-wrapper .item {
    flex-grow: 0;
  }

  .thbit-trade-container .container.coinlist {
    display: none;
    grid-area: header;
    position: absolute;
    z-index: 999999;
    background-color: #f1f2f8;
    width: 100%;
    max-width: 360px;
    top: 100%;
    height: calc(100vh - 100px);
  }
  .coin-list-open .container.coinlist {
    display: block;
  }

  .thbit-trade-container .container.coinlist .list-search {
    background-color: #f1f2f8;
  }

  .thbit-trade-header .coin-list-trigger {
    display: inline-block;
    transition: 0.5s;
  }
  .coin-list-open .coin-list-trigger {
    transform: scaleY(-1);
  }

  .thbit-trade-price-list.coin-list .list-wrap .list .col.pair .name {
    display: inline-block;
  }
  .thbit-trade-price-list.coin-list .list-wrap .list .col.pair > em {
    font-size: 0.8em;
    opacity: 0.5;
  }

  .thbit-trade-list .thbit-index-tab .tab {
    flex-grow: 1;
  }
  .thbit-trade-list .thbit-trade-inlineform {
    position: relative;
    right: auto;
    top: auto;
    margin-top: 10px;
    margin-bottom: 15px;
    text-align: right;
  }

  @media all and (max-height: 660px) {
    [data-layout] .thbit-trade-container {
      grid-template-rows: 100px 40px 300px auto;
    }
    [data-layout] .thbit-trade-chart {
      height: 300px;
    }
  }

  .thbit-order-trigger {
    display: flex;
    align-items: center;
    gap: 10px;
    position: fixed;
    z-index: 99;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #fff;
    border-top: 1px solid #6b5dd3;
    padding: 10px 19px;
  }

  .thbit-order-trigger .button {
    display: block;
    flex-grow: 1;
    height: 30px;
    line-height: 30px;
    border-radius: 6px;
    font-size: 1.2em;
  }
  .thbit-order-trigger .button > em {
    font-style: normal;
    font-size: 0.8em;
    font-weight: normal;
  }
  .thbit-order-trigger .button:first-of-type {
    border-bottom-left-radius: 29px;
  }
  .thbit-order-trigger .button:last-of-type {
    border-bottom-right-radius: 29px;
  }

  .thbit-trade-container .container.orderform {
    /* position: fixed; */
    z-index: 999;
    left: 0;
    right: 0;
    bottom: 0;
    transition: 0.5s;
    /* margin-bottom: -500%; */
    max-height: calc(100vh - 100px);
  }

  /* .thbit-trade-section.order-open .thbit-trade-container .container.orderform {
    margin-bottom: 0;
  }
  .thbit-trade-section.order-open .thbit-trade-container:before {
    position: fixed;
    z-index: 999999;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    content: "";
    background-color: #222;
    opacity: 0.5;
  } */

  .thbit-trade-container .container.orderform .thbit-index-tab .tab {
    padding-left: 19px;
    padding-right: 19px;
  }

  .thbit-trade-container .container.orderform .thbit-index-tab .tab:before {
    top: 0;
  }

  /* .thbit-trade-container .container.orderform .thbit-trade-form .form-button .button {
    border-bottom-left-radius: 29px;
    border-bottom-right-radius: 29px;
  } */
} /* @media end */

/* @media (max-width: 768px) {
  .thbit-trade-list .thbit-trade-inlineform .label {
    display: none;
  }
} */
