loki:
  enabled: true
  isDefault: false
  persistence:
    enabled: true
    storageClassName: local-path-immediate
    size: 20Gi
    accessModes:
      - ReadWriteOnce
  nodeSelector:
    node-role.kubernetes.io/control-plane: "true"
  tolerations:
    - key: "node-role.kubernetes.io/control-plane"
      operator: "Exists"
      effect: "NoSchedule"

promtail:
  enabled: true
  serviceMonitor:
    enabled: true
  extraScrapeConfigs:
    - job_name: kubernetes-pods-direct-logs
      kubernetes_sd_configs:
        - role: pod
      relabel_configs:
        - source_labels: [__meta_kubernetes_pod_label_app]
          target_label: app
        - source_labels: [__meta_kubernetes_namespace]
          target_label: namespace
        - action: replace
          source_labels: [__meta_kubernetes_pod_node_name]
          target_label: node
  tolerations:
    - key: "node-role.kubernetes.io/control-plane"
      operator: "Exists"
      effect: "NoSchedule"

fluent-bit:
  enabled: false

grafana:
  enabled: false

prometheus:
  enabled: false

