loki:
  enabled: true
  isDefault: false
  persistence:
    enabled: true
    storageClassName: local-path
    size: 20Gi
    accessModes:
      - ReadWriteOnce

promtail:
  enabled: true
  serviceMonitor:
    enabled: true
  extraScrapeConfigs:
    - job_name: kubernetes-pods-direct-logs
      kubernetes_sd_configs:
        - role: pod
      relabel_configs:
        - source_labels: [__meta_kubernetes_pod_label_app]
          target_label: app
        - source_labels: [__meta_kubernetes_namespace]
          target_label: namespace
        - action: replace
          source_labels: [__meta_kubernetes_pod_node_name]
          target_label: node

fluent-bit:
  enabled: false

grafana:
  enabled: false

prometheus:
  enabled: false

