/be/orderbook-collector/logs
/be/orderbook-collector/package-lock.json
/be/storage-worker/logs
/be/storage-worker/package-lock.json
/be/index-preprocess/logs
/be/ticker-collector/logs
/be/ticker-collector/package-lock.json

/be/index-endpoint/logs/*.log
/be/index-endpoint/package-lock.json
/be/orderbook-storage-worker/logs/*.log
/be/ticker-storage-worker/logs/*.log
/be/telegram_log/.gitignore
/be/telegram_log/logs
/be/telegram_log/package-lock.json
