apiVersion: v1
kind: Service
metadata:
  name: nginx-service
  namespace: bonanza-index
  labels:
    app: nginx
spec:
  type: ClusterIP
  ports:
  - port: 7600
    targetPort: 80
    protocol: TCP
    name: http
  selector:
    app: nginx

