apiVersion: v1
kind: ConfigMap
metadata:
  name: coredns
  namespace: kube-system
data:
  Corefile: |
    .:53 {
        errors
        health
        ready
        kubernetes cluster.local in-addr.arpa ip6.arpa {
           pods insecure
           fallthrough in-addr.arpa ip6.arpa
           ttl 30
        }
        # 외부 DNS로 직접 포워딩 (Google + Cloudflare)
        forward . 8.8.8.8
        cache 30
        loop
        reload
        loadbalance
    }
